body, html {
    height: 100%;
    margin: 0;
}
main {
    position: relative; /* New addition: Makes child absolute positioning relative to this */
    min-height: calc(100vh - 120px); /* Ensure minimum height */
}
.sidebar {
    height: 100vh;
    overflow-y: auto;
    background-color: #f8f9fa;
    border-right: 1px solid #dee2e6;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px 0;
}

#login {
    position: fixed;
    top: 30%;                /* Position the top edge of the element at the center of the page */
    left: 50%;               /* Position the left edge of the element at the center of the page */
    transform: translate(-50%, -50%); /* Shift the element left and up by half its width and height */
    width: 250px;            /* Set a specific width to accommodate the form */
    padding: 20px;           /* Add padding inside the form */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Adds a subtle shadow for better visibility */
    background: #fff;        /* Set a background color */
    border-radius: 8px;      /* Rounds the corners of the form */
    display: block;          /* Ensures the form is a block-level element */
    box-sizing: border-box;  /* Includes padding and border in the element's total width and height */
}

#search-input {
    margin-bottom: 20px;     /* Adds spacing between form inputs */
}

#search-results{
    text-align: center;
    margin: 20px;
}

.btn-primary {
    width: 100%;             /* Makes the button span the full width of the form */
}

.btn-outline-primary {
    width: 100%;
}

#msg_input {
    position: fixed; /* Changed from absolute to fixed */
    bottom: 5%; /* Distance from the bottom of the viewport */
    left: 30%; /* Adjust according to your sidebar width on large screens */
    right: 0; /* Align to the right edge of the viewport */
    z-index: 5; /* Keep it above other content */
    width: 50%; /* Adjust width to fit within the main content */
}

#sendBtn {
    /* Adjust the size of the icon if needed */
    font-size: 18px;  /* Or whatever size fits your design */
}


@media (max-width: 991.98px) { /* Adjusting for medium screens where sidebar might collapse or change */
    #msg_input {
        left: 25%; /* Adjust this if your sidebar's medium screen width is different */
        width: calc(75% - 2px); /* Adjust width to fit within the main content on medium screens */
    }
}


