{% extends "layout.html" %}

{% block title %}
    Settings
{% endblock %}

{% block main %}
<form id="login">
    <ul class="navbar-nav ms-auto mt-2">
        <button class="btn btn-secondary btn-sm" style="margin-bottom: 25px;">
            <a class="nav-link" href="/change_password">Change Password</a>
        </button>
    </ul>
    <div class="mb-3">
        <label for="formFileSm" class="form-label">Profile picture</label>
        <input class="form-control form-control-sm" id="formFileSm" type="file">
    </div>
</form>


{% endblock %}